.form__container {
  padding-block: clamp(2rem, 4.75vw, 3.25rem);
  padding-inline: clamp(1.5rem, 4vw, 3.75rem);
  background-color: var(--clr-purple-900);
  border-radius: 0.75rem;
  position: relative;
  overflow: hidden;
  isolation: isolate;
}

.form {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.form > * {
  min-width: 0;
  max-width: 100%;
}

.form__input-container {
  flex: 1;
  position: relative;
}

.form__input {
  height: 100%;
  width: 100%;
  padding: 0.95rem min(2rem, 8%);
  font-size: 1.1rem;
  border: none;
  outline: none;
  border-radius: 0.5rem;
  transition: color 0.5s ease, box-shadow 0.5s ease-in-out;
}

.form__input::placeholder {
  font-weight: 500;
  opacity: 0.5;
  transition: color 0.5s ease;
  color: var(--clr-gray-600);
}

.form__input--error {
  box-shadow: inset 0 0 0 3.5px var(--clr-red-400);
  color: var(--clr-red-400);
}

.form__input--error::placeholder {
  color: var(--clr-red-400);
}

.form__error {
  white-space: nowrap;
  font-family: inherit;
  font-size: clamp(0.9rem, 1vw, 1rem);
  font-weight: 500;
  font-style: italic;
  position: absolute;
  left: 0;
  top: 110%;
  color: var(--clr-red-400);
}

.form__background {
  position: absolute;
}

.form__button {
  width: 100%;
  min-height: 100%;
  border-radius: 0.5rem;
  font-size: 1.1rem;
}

@media screen and (max-width: 768px) {
  .form {
    flex-direction: column;
  }

  .form__error {
    position: static;
  }
}
