.shotener__container {
  background-image: linear-gradient(var(--white) 50%, var(--light-gray) 50%);
}

.shotened-links__container {
  padding-block: 1.5rem;
  list-style: none;
  background-color: var(--light-gray);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
