:root {
  --white: #fff;
  --light-gray: #f0f1f6;
  --gray: #9a9a9a;
  --purplish-black: #34313c;
  --purple: #4b406b;
  --dark-purple: #3a3053;
  --darker-purple: #232027;
  --aqua-blue: #2bd1d1;
  --light-aqua-blue: #9be2e2;

  --inline-padding: max(8.5vw, 1rem);
}
