:root {
  --white: #fff;
  --light-gray: #f0f1f6;
  --gray: #9d9ca1;
  --purplish-black: #34313c;
  --purple: #4b406b;
  --dark-purple: #393053;
  --darker-purple: #232027;
  --aqua-blue: #2bd1d1;
  --light-aqua-blue: #9be2e2;
}
