.nav {
  width: 100%;
  background-color: var(--clr-white);
  padding-inline: var(--body-inline-padding);
  padding-block: max(3.5vw, 2.5rem) 2.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.nav--left {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: max(1.5rem, 4vw);
}

.nav__links,
.nav--right {
  display: flex;
  align-items: center;
  gap: max(0.75rem, 3vw);
}

.nav__logo {
  flex-shrink: 0;
  height: clamp(2rem, 3vw, 2.5rem);
  width: auto;
}

.nav__logo path {
  fill: var(--clr-purple-1000);
}

.nav__button {
  flex-shrink: 0;
  font-size: clamp(0.85rem, 2vw, 0.96rem);
}

@media screen and (max-width: 768px) {
  .nav__links,
  .nav--right {
    display: none;
  }
}
