.header {
  width: 100%;
  background-color: var(--clr-white);
  padding-inline: var(--body-inline-padding);
  padding-block: max(3.5vw, 2.5rem) 2.5rem;
  display: flex;
  align-items: center;
  gap: 3.5rem;

  position: relative;
}

.nav--desktop {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.nav--mobile {
  display: none;
}

.nav__left {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: max(1.5rem, 4vw);
}

.nav__links,
.nav__right {
  display: flex;
  align-items: center;
  gap: max(0.75rem, 3vw);
}

.nav__links {
  list-style: none;
}

.nav__logo {
  flex-shrink: 0;
  height: clamp(2rem, 3vw, 2.5rem);
  width: auto;
}

.nav__logo path {
  fill: var(--clr-purple-1000);
}

.nav__button {
  flex-shrink: 0;
  font-size: clamp(0.85rem, 2vw, 0.96rem);
}

.nav__burger-button {
  padding: 0.35rem;
  background: none;
  border: none;
  cursor: pointer;
}

.nav__burger-button > svg {
  width: 2.25rem;
  height: auto;
}

.nav__burger-button > svg path {
  fill: var(--clr-gray-600);
}

.nav__menu--mobile {
  position: absolute;
  width: 90%;
  padding: 1.75rem 1.5rem 2.35rem 1.5rem;
  top: 90%;
  left: 50%;
  translate: -50% 0;
  background-color: var(--clr-purple-900);
  border-radius: 0.75rem;
}

.nav__links--mobile,
.nav__login--mobile {
  list-style: none;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.nav__login--mobile {
  margin-top: 1rem;
  padding-top: 0.5rem;
  border-top: solid 1px #53496c;
  gap: 0.75rem;
}

.nav__link--mobile {
  color: var(--clr-white);
  padding: 1rem;
  font-size: 1.15rem;
  font-weight: 600;
  text-decoration: none;
  transition: color 0.35s ease;
}

.nav__link--mobile:hover {
  color: var(--clr-gray-600);
}

.nav__signup--mobile {
  font-family: inherit;
  font-size: 1.15rem;
  font-weight: 700;
  color: var(--clr-white);
  background-color: var(--clr-aqua-blue-500);
  border: none;
  border-radius: 2rem;
  padding: clamp(0.75rem, 1vw, 0.85rem) clamp(2.25rem, 3vw, 2.65rem);
  white-space: nowrap;
  transition: transform 0.35s ease, background-color 0.35s ease;
  cursor: pointer;
}

.nav__signup--mobile:hover {
  background-color: var(--clr-aqua-blue-250);
}

.nav__signup--mobile:active {
  transform: scale(0.95);
}

@media screen and (max-width: 768px) {
  .header {
    justify-content: space-between;
  }

  .nav--desktop {
    display: none;
  }

  .nav--mobile {
    display: block;
  }
}
