.button {
  font-family: inherit;
  font-weight: 700;
  color: var(--clr-white);
  background-color: var(--clr-aqua-blue-500);
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  min-width: 0;
  max-width: 100%;

  white-space: nowrap;
  overflow: hidden;
  transition: transform 0.35s ease, background-color 0.35s ease;
}

.button:hover {
  background-color: var(--clr-aqua-blue-250);
}

.button:active {
  transform: scale(0.95);
}

.button--large {
  font-size: clamp(0.95rem, 2.2vw, 1.2rem);
  padding: clamp(0.75rem, 1vw, 0.85rem) clamp(2.25rem, 3vw, 2.65rem);
}

.button--medium {
  font-size: clamp(0.85rem, 1.9vw, 1rem);
  padding: clamp(0.5rem, 2vw, 0.75rem) clamp(1.5rem, 2.5vw, 2rem);
}

.button--small {
  font-size: clamp(0.7rem, 1.5vw, 0.9rem);
  padding: clamp(0.35rem, 2vw, 0.5rem) clamp(1rem, 2vw, 1.5rem);
}
